<section class="fork-subs">
    <div class="fork-subs__wrapper">
        <h1 class="fork-subs__main-header">
            Fork subscribing pricing
        </h1>
        <div class="fork-subs__cards">
            <div class="fork-subs__cards-item">
                <h2 class="fork-subs__item-heading">Students</h2>
                <div class="fork-subs__item-container">
                    <p class="fork-subs__item-price">$29</p>
                    <p class="fork-subs__item-duration">per month</p>
                    <p class="fork-subs__item-terms">personal license</p>
                    <p class="fork-subs__item-terms">no support</p>
                    <button class="fork-subs__item-btn">Purchase</button>
                </div>
            </div>
            <div class="fork-subs__cards-item">
                <h2 class="fork-subs__item-heading">Professional</h2>
                <div class="fork-subs__item-container">
                    <p class="fork-subs__item-price">$59</p>
                    <p class="fork-subs__item-duration">per month</p>
                    <p class="fork-subs__item-terms">personal license</p>
                    <p class="fork-subs__item-terms">Email Support</p>
                    <button class="fork-subs__item-btn">Purchase</button>
                </div>
            </div>
            <div class="fork-subs__cards-item__big-card">
                <h2 class="fork-subs__item-heading__big-card-heading">Agency</h2>
                <div class="fork-subs__item-container">
                    <p class="fork-subs__item-price__big-card-price">$99</p>
                    <p class="fork-subs__item-duration">per month</p>
                    <p class="fork-subs__item-terms">1-12 Team Members</p>
                    <p class="fork-subs__item-terms">Phone support</p>
                    <button class="fork-subs__item-btn__big-card-btn">Purchase</button>
                </div>
            </div>
            <div class="fork-subs__cards-item">
                <h2 class="fork-subs__item-heading">Enterprise</h2>
                <div class="fork-subs__item-container">
                    <p class="fork-subs__item-price">$159</p>
                    <p class="fork-subs__item-duration">per month</p>
                    <p class="fork-subs__item-terms">Unlimited Team Members</p>
                    <p class="fork-subs__item-terms">24/7 phone support</p>
                    <button class="fork-subs__item-btn">Purchase</button>
                </div>
            </div>

        </div>
    </div>

</section>