
    <header class="header">
      <div class="header__container">
        <div class="header__logo-block">
          <svg
            class="logo"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 43 41"
          >
            <style>
              .st0 {
                fill: #8d81ac;
              }
            </style>
            <switch>
              <g>
                <g id="Layer_2">
                  <g id="XMLID_1_">
                    <path
                      class="st0"
                      d="M28.1.7L18.9.1c-.5 0-.9.3-1 .8L15 35.1c0 .2 0 .4.2.5l4.3 5c.3.4.8.4 1.2.1l5.1-4.3c.1-.1.2-.3.2-.5l2.9-34.2c.1-.5-.3-1-.8-1zm-4.3 33.4l-6.2-.4 2-23.6 6.2.4-2 23.6zM26 8l-6.2-.4.4-4.9 6.2.4L26 8zM8.8 35.9H5.7c-.8 0-1.5-.7-1.5-1.5v-8.5L.9 22.1c-.5-.6-.5-1.5 0-2.1l3.5-3.8V7.7c0-.8.7-1.5 1.5-1.5h2.9c.7 0 1.3.6 1.3 1.3s-.6 1.2-1.3 1.2H7v7.8c0 .4-.1.8-.4 1l-3.2 3.4 2.9 3.4c.2.3.4.6.4 1v7.8h2c.7 0 1.3.6 1.3 1.3s-.5 1.5-1.2 1.5zm-4.4-9.7zm.3-10.3zM37.3 35.9h-3.1c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3h2v-7.8c0-.4.1-.7.4-1l2.9-3.4-3.2-3.4c-.3-.3-.4-.7-.4-1v-8h-1.8c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3H37c.8 0 1.5.7 1.5 1.5v8.5l3.5 3.8c.5.6.5 1.5 0 2.1l-3.3 3.8v8.5c.1.9-.5 1.6-1.4 1.6zm1-20zm-1.2-7.2z"
                    />
                  </g>
                </g>
              </g>
            </switch>
          </svg>
          <h2 class="logo-name">FORKIO</h2>
        </div>
        <button class="purchase-btn btn">Buy Now</button>
        <div class="burger-btn acttive-btn"></div>

        <nav class="navbar hidden">
          <ul class="navbar__list">
            <li class="navbar__item">
              <a href="#" class="navbar__link">Overview</a>
            </li>
            <li class="navbar__item">
              <a href="#" class="navbar__link">About Fork</a>
            </li>
            <li class="navbar__item">
              <a href="#" class="navbar__link">Buying Options</a>
            </li>
            <li class="navbar__item">
              <a href="#" class="navbar__link">Support</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="welcome">
      <div class="welcome__container">
        <div class="welcome__texts">
          <h2 class="welcome__title">Fork App</h2>
          <span class="welcome__description"
            >A Real Gamechanger In The World Of Web-Development</span
          >
          <span class="welcome__version">v. 2.8 For Mac and Windows</span>
        </div>
        <button class="download-btn btn">Download For Free Now</button>
        <p class="download__subtitle">Unlimited 30-Days Trial Period</p>
      </div>
    </section>

