<section class="testimonials">
  <div class="testimonials__container">
    <h2 class="testimonials__title">People Are Talking About Fork</h2>
    <div class="clients">
      <div class="clients__card">
        <img src="./assets/img/t1.png" alt="t1.png" class="clients__logo" />
        <p class="clients__text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="clients__card">
        <img src="./assets/img/t2.png" alt="t2.png" class="clients__logo" />
        <p class="clients__text">
          SDonec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
          rhoncus molestie neque ac, mollis eleifend nibh.
        </p>
      </div>
      <div class="clients__card">
        <img
          src="./assets/img/t3.png"
          alt="t3.png"
          class="clients__logo clients__small-logo"
        />
        <p class="clients__text">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
          fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
        </p>
      </div>
      <div class="clients__card">
        <img src="./assets/img/t4.png" alt="t4.png" class="clients__logo" />
        <p class="clients__text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </div>
      <div class="clients__card">
        <img src="./assets/img/t5.png" alt="t5.png" class="clients__logo" />
        <p class="clients__text">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
          Nulla faucibus lorem id arcu consequat faucibus.
        </p>
      </div>
      <div class="clients__card">
        <img src="./assets/img/t6.png" alt="t6.png" class="clients__logo" />
        <p class="clients__text">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
          Pellentesque porttitor cursus massa et vestibulum.
        </p>
      </div>
    </div>
    <p class="testimonials__descriprion">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <div class="testimonials__break">
      <div class="testimonials__separator"></div>
    </div>
  </div>
</section>
