<section class="what-you-get__container">
    <div class="what-you-get__content">
        <div class='what-you-get__section1'>
            <h3 class="what-you-get__header">Here is what you get</h3>
            <div><img class="desktop-display" src="./assets/img/editor.png" alt="editor"></div>
        </div>
        <ul>
            <li class='what-you-get__item'>
                <div class='what-you-get__item-pic'><img src="./assets/img/icons/01_icon-01.png" alt="icon1"></div>
                <div>
                    <a href="#">
                        <h3 class="what-you-get__item-header">Created to make the web better</h3>
                    </a>
                    <p class="what-you-get__item-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>

            </li>
            <li class='what-you-get__item'>
                <div class='what-you-get__item-pic'><img src="./assets/img/icons/02_icon-01.png" alt="icon2"></div>
                <div>
                    <a href="#">
                        <h3 class="what-you-get__item-header">Inncredibly powerful tool</h3>
                    </a>
                    <p class="what-you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>

            </li>
            <li class='what-you-get__item'>
                <div class='what-you-get__item-pic'><img src="./assets/img/icons/03_icon-01.png" alt="icon3"></div>
                <div>
                    <a href="#">
                        <h3 class="what-you-get__item-header">Experimental stuff</h3>
                    </a>
                    <p class="what-you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>

            </li>
            <li class='what-you-get__item'>
                <div class='what-you-get__item-pic'><img src="./assets/img/icons/04_icon-01.png" alt="icon4"></div>
                <div>
                    <a href="#">
                        <h3 class="what-you-get__item-header">Created to Make the Web Better</h3>
                    </a>
                    <p class="what-you-get__item-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                    </p>
                </div>

            </li>
        </ul>
        <div class="what-you-get__image mobile-display"><img src="./assets/img/editor.png" alt="editor"></div>
    </div>
    </div>

</section>