@import "./var";
@import "./mixins";
.fork-subs {
    background-image: url(../assets/img/Layer2.png);
    background-position: bottom;
    background-size: cover;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__main-header {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        color: #FFFFFF;
        padding-top: 14px;
        padding-bottom: 32px;
        @media (min-width: 481px) {
            font-size: 42px;
            line-height: 44px;
            padding-top: 90px;
            padding-bottom: 39px;
        }
        @media (min-width: 992px) {
            font-size: 48px;
            line-height: 50px;
            padding-top: 83px;
            padding-bottom: 61px;
        }
    }
    &__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 481px) {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
    &__cards-item {
        margin: 0 1% 20px 1%;
        width: 85%;
        margin-bottom: 18px;
        background-color: rgba(255, 255, 255, 0.11);
        @media (min-width: 481px) {
            width: 46%;
        }
        @media (min-width: 992px) {
            width: 22%;
        }
        &__big-card {
            margin-bottom: 20px;
            width: 92%;
            background-color: rgba(70, 48, 72, 0.8);
            @media (min-width: 481px) {
                width: 50%;
            }
            @media (min-width: 992px) {
                width: 27%;
            }
        }
    }
    &__item-heading {
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 24px;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        background-color: rgba(255, 255, 255, 0.07);
        width: 100%;
        padding: 36px 0;
        &__big-card-heading {
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            padding: 43px 0;
            background-color: rgba(0, 0, 0, 0.11);
        }
    }
    &__item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 1em 0 2.5em 0;
    }
    &__item-price {
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 62px;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        @media (min-width: 481px) {
            line-height: 90px;
        }
        &__big-card-price {
            font-size: 82px;
            line-height: 90px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            font-family: "Montserrat", sans-serif;
        }
    }
    &__item-duration {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 16px;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 73px;
        position: relative;
    }
    &__item-duration::after {
        position: absolute;
        top: 48px;
        left: 10%;
        content: "";
        display: block;
        width: 80%;
        height: 5px;
        background-color: #8d81ac;
    }
    &__item-terms {
        font-size: 16px;
        font-weight: normal;
        text-transform: capitalize;
        line-height: 18px;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
    }
    &__item-btn {
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 15px;
        color: #fff;
        font-style: normal;
        font-family: "Montserrat", sans-serif;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 30px;
        margin-top: 45px;
        padding: 1em 3em;
        border: 0px;
        outline: none;
        cursor: pointer;
        box-shadow: 0px 2px 3px 0px #000;
        &__big-card-btn {
            font-size: 15px;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 15px;
            color: #fff;
            font-style: normal;
            font-family: "Montserrat", sans-serif;
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 30px;
            margin-top: 115px;
            margin-bottom: 10px;
            padding: 1em 3em;
            border: 0px;
            outline: none;
            cursor: pointer;
            box-shadow: 0px 2px 3px 0px #000;
        }
    }
}