@import "./var";
@import "./mixins";
@import "./menu";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  background: #27262a;
  height: 103px;
  @media (min-width: 481px) and (max-width: 992px) {
    height: 118px;
  }
  @media (min-width: 993px) {
    background: #010005;
  }
  &__container {
    height: 100%;
    position: relative;
    @include marginAndWidth(90%, 0 auto);
    @include flex-box(flex, space-between, center);
    @media (min-width: 1200px) {
      @include marginAndWidth(1200px, 0 auto);
    }
  }
  &__logo-block {
    @include flex-box(flex, space-between, center);
    @media (min-width: 481px) and (max-width: 992px) {
      @include bottom-position(relative, 15px, unset);
    }
    &:hover .logo-name {
      color: #fff;
    }
    &:hover .st0 {
      fill: #fff;
    }
  }
}

.logo-name {
  color: $main-color;
  display: none;
  margin-left: 17px;
  @include fontSizeFontFamilyFontW(24px, $font-familyLato, bold);
  @media (min-width: 481px) {
    display: unset;
  }
  &:hover {
    color: #fff;
  }
}

.hidden {
  display: none;
}

.logo {
  width: 43px;
}

.btn {
  @include mainButton;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    background: #fff;
    color: $main-color;
    border: 1px solid $main-color;
    outline: none;
  }
  @media (min-width: 993px) {
    padding: 15px 40px;
    font-size: 18px;
  }
  @media (min-width: 481px) and (max-width: 992px) {
    @include bottom-position(relative, 15px, 9px 24px);
  }
}

.welcome {
  background: url(../assets/img/banner.png);
  background-repeat: no-repeat;
  background-position: 50% 68%;
  height: 600px;
  @include bottom-position(relative, 1px, 0 10px);
  @media (min-width: 993px) {
    height: 700px;
  }
  @media (min-width: 1200px) {
    background-size: cover;
  }
  @media (min-width: 481px) and (max-width: 992px) {
    background-position: 50% 54%;
  }
  &__container {
    width: 100%;
    height: 100%;
    @include flex-box-direction(flex, column, space-between, center);
    @media (min-width: 1200px) {
      @include marginAndWidth(1200px, 0 auto);
    }
  }
  &__texts {
    width: 100%;
    @include flex-box-direction(flex, column, center, center);
  }
  &__title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    @include fontSizeFontFamilyFontW(48px, $font-familyMon, bold);
    @media (min-width: 481px) and (max-width: 992px) {
      margin-top: 68px;
      font-size: 72px;
    }
    @media (min-width: 992px) {
      margin-top: 63px;
      font-size: 82px;
    }
  }
  &__description {
    color: $main-color;
    line-height: 24px;
    text-align: center;
    margin: 19px 0;
    @include fontSizeFontFamilyFontW(18px, $font-familyLato, normal);
    @media (min-width: 481px) and (max-width: 992px) {
      font-size: 24px;
    }
    @media (min-width: 993px) {
      font-size: 30px;
    }
  }
  &__version {
    text-transform: uppercase;
    color: $button-download-color;
    text-align: center;
    @include fontSizeFontFamily(14px, $font-familyMon);
  }
}
.download-btn {
  font-size: 18px;
  @include bottom-position(relative, -207px, 13px 29px);
  @media (min-width: 468px) and (max-width: 480px) {
    @include bottom-position(relative, -218px, 13px 29px);
  }
  @media (min-width: 481px) and (max-width: 617px) {
    @include bottom-position(relative, -182px, 20px 82px);
  }
  @media (min-width: 617px) and (max-width: 992px) {
    @include bottom-position(relative, -194px, 20px 82px);
  }
  @media (min-width: 993px) {
    @include bottom-position(relative, -244px, 20px 82px);
  }
}
.download__subtitle {
  text-align: center;
  color: $button-download-color;
  @include fontSizeFontFamily(16px, $font-familyMon);
  @include bottom-position(relative, -50px, unset);
  @media (min-width: 481px) {
    bottom: -60px;
  }
}
