@import "./var";
@import "./mixins";

a {
  text-decoration: none;
}

.burger-btn {
  position: relative;
  width: 26px;
  height: 21px;
  background: linear-gradient(to right, white 0%, white 100%);
  background-size: 50px 3px;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.2s background;
  border: transparent;
  font-size: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 26px;
    height: 3px;
    background: white;
    transition: transform 0.2s;
    transform: 8px 7px;
  }
  &:after {
    top: 18px;
    transform: 8px -5px;
    border-radius: 5px;
  }
  &:before {
    bottom: 2px;
    width: 15px;
    left: 10px;
    border-radius: 5px;
  }
  @media (min-width: 481px) {
    display: none;
  }
}

.acttive-btn.burger-btn:after {
  background-color: white;
  transform: rotate(90deg);
  top: 8px;
}
.acttive-btn.burger-btn::before {
  background-color: transparent;
}
.acttive-btn.burger-btn {
  background-color: transparent;
  transform: rotate(-45deg);
  position: relative;
  bottom: 1px;
}

.navbar {
  z-index: 1;
  position: absolute;
  width: 90%;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  &__list {
    background: #807878;
    list-style: none;
    user-select: none;
  }
  &__item {
    background: #333333;
    margin: 0 24px;
    margin-bottom: 1px;
  }
  &__item:last-child {
    margin-bottom: 0px;
  }
  &__link {
    position: relative;
    display: inline-block;
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    @media (min-width: 481px) and (max-width: 992px) {
      position: relative;
      bottom: 7px;
    }
  }
  &__link:hover {
    color: $main-color;
    @media (min-width: 481px) {
      color: white;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      background-color: $main-color;
      height: 53px;
      left: 0;
      @media (min-width: 481px) {
        content: none;
        color: white;
      }
    }
  }
  @media (min-width: 481px) and (max-width: 992px) {
    & {
      position: absolute;
      top: 47%;
      width: 100%;
    }
    &.hidden {
      display: unset;
    }
    &__list {
      display: flex;
      background: unset;
      justify-content: space-evenly;
    }
    &__item {
      background: unset;
    }
    &__link {
      color: $main-color;
      padding: 35px 0 22px 0;
      font-size: 16px;
      font-weight: bold;
    }
  }
  @media (min-width: 993px) {
    & {
      position: absolute;
      top: unset;
      width: 70%;
    }
    &.hidden {
      display: unset;
    }
    &__list {
      display: flex;
      background: unset;
      justify-content: flex-end;
      margin: 0 10px 0 0;
    }
    &__item {
      background: unset;
    }
    &__link {
      color: $main-color;
      font-size: 16px;
      font-weight: bold;
      line-height: 15px;
    }
  }
}
