@import "./var";
@import "./mixins";

.revs-editor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rev-editor {
  &__header {
    text-align: center;
    font-size: 26px;
    color: #635c73;
    text-transform: uppercase;
    margin: 120px 30px 0 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    @media (min-width: 481px) and (max-width: 992px) {
      font-size: 42px;
      margin: 150px 30px 0 30px;
    }
    @media (min-width: 993px) {
      font-size: 54px;
      margin: 129px 30px 0 30px;
    }
  }
  &__content {
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    font-family: Lato;
    font-size: 21px;
    color: #323232;
    margin-top: 35px;
    line-height: 32px;
    @media (min-width: 481px) and (max-width: 992px) {
      margin: 27px 40px 0 39px;
    }
    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      margin: 27px 26px 0 18px;
    }
  }
  &__btns-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 13px 10px 70px 10px;
    @media (min-width: 481px) and (max-width: 992px) {
      margin: 24px 10px 98px 10px;
    }
  }
  &__btns-nav {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    font-size: 12px;
    align-items: stretch;
    margin: 10px 5px;
    border: 1px solid rgb(199, 196, 196);
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &__btns-nav:last-child {
    @media (max-width: 481px) {
      margin: 0 100%;
    }
  }
  &__buttons {
    background-color: initial;
    border: none;
    cursor: pointer;
    outline: none;
  }
  &__btn-info {
    padding: 2px 4px;
    align-self: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }
  &__buttons-link {
    padding: 3px 6px;
    background-color: #fff;
    border-radius: 0 6px 6px 0;
    line-height: 20px;
    color: #333333;
  }
}
