@import "./var";
@import "./mixins";
.desktop-display {
  display: none;
  @media (min-width: 992px) {
    display: initial;
    width: 100%;
  }
}

.mobile-display {
  overflow: hidden;
  @media (min-width: 992px) {
    display: none;
  }
}

.what-you-get {
  &__section1 {
    @media (min-width: 992px) {
      grid-area: 1/2/2/3;
    }
  }
  &__container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 32px;
    padding-bottom: 6px;
    margin: 0 auto;
    @media (min-width: 481px) {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 61px;
      padding-bottom: 1px;
    }
    @media (min-width: 992px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 90px;
      padding-bottom: 45px;
      background-color: #f4f4f4;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      padding-left: 90px;
      display: grid;
      grid-template-columns: 45% 50%;
      gap: 5%;
    }
  }
  &__header {
    font-size: 32px;
    line-height: 38px;
    color: #8d81ac;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
    font-family: $font-familyMon;
    @media (min-width: 481px) {
      margin-bottom: 50px;
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: 992px) {
      text-align: left;
      margin-bottom: 18px;
      margin-left: 15px;
      font-size: 48px;
      line-height: 50px;
    }
  }
  &__header::after {
    content: ">";
  }
  &__header::before {
    content: "<";
  }
  &__image {
    width: 100%;
    @media (min-width: 481px) and (max-width: 992px) {
      position: relative;
      left: 25px;
    }
    @media (max-width: 992px) {
      align-self: flex-end;
      max-width: 100%;
    }
    img {
      position: relative;
      left: 27px;
      @media (min-width: 481px) and (max-width: 992px) {
        float: right;
        position: relative;
        left: 25px;
      }
    }
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    @media (min-width: 481px) {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      text-align: start;
    }
    @media (min-width: 992px) {
      margin-top: 15px;
      flex-direction: row;
      grid-area: 1/1/2/2;
    }
  }
  &__item-pic {
    margin-bottom: 27px;
    @media (min-width: 481px) {
      min-width: 115px;
      max-width: 270px;
    }
  }
  &__item-header {
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #323232;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 14px;
    @media (min-width: 481px) {
      line-height: 21px;
      margin-bottom: 17px;
    }
  }
  &__item-text {
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
    font-family: "Lato", sans-serif;
    @media (min-width: 481px) {
      font-family: "Montserrat", sans-serif;
    }
  }
}
